.Titulo {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-weight: 100;
}

.DatosEs {
    border-top-width: thin;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;
    font-size: 14px;
}



.DatosEs center tr td {
    font-family: Verdana, Geneva, sans-serif;
}
.TablaNotas {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    border: thin none #000;
}
.AnotacionesEséciales {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
}
.Superior {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    border: 1px solid #000;
}
.salto{
    PAGE-BREAK-AFTER: always
}

.parrafo{
    text-align: justify;
}

.o {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}
input{
    width :45;
}

#divConsolidado a{
    display: none;
}

.tableImprimir{
    border-collapse: collapse;
}

.tableImprimir td,.tableImprimir th{
    border: 1px solid #000;
    padding-left: 5px;
    padding-right: 5px;
}
.tableImprimir td{
    text-align: center;
}
.tableImprimir .n,.tableImprimir .nombre{
    text-align: left;
    padding-right: 15px;
}
#divConsolidado h1{
    margin-top: 5px;
    margin-bottom: 5px;
}


#divConsolidado{
    size: auto;
}

.tableImprimir{
    font-size-adjust: initial;
}
.nombre,.n{
    font-size: 60%;
}
.noPrint{
    display: none;
}

.nombre{
    font-size: 14;
}

.TablaNotas table td{
    text-align: center;
}

.TablaNotas table tbody td.nombreclase{
    text-align:left;
    padding-left: 5px;
}
