/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/04/2014, 12:12:37 PM
    Author     : Leonardo Ortega Hernandez
    e-mail       : leon9894@gmail.com
*/



textArea{
    width: 570px;
    min-height: 180px;
}

#formObservacion input{
    width: 60px;
}

.error{
    color: red;
    border: 2px solid red;
}

.estudiantesSeleccionados td{
    padding-right: 10px;
}

#bad{
    text-align: justify;
    color: red;
    font-size: 16px;
}

#ok{
    text-align: justify;
    color: green;
    font-size: 16px;
}

.red{
    color: red;
}

.green{
    color: green;
}

.black{
    color: black;
}

.form{
    background-color:transparent;
}

form input,form select{
    width: 190px;
}

.none{
    display: none;
}

form label{
    min-width: 100px;
    font-weight:normal;
    font-style: italic;
}

form div{
    padding-bottom: 3px;
    padding-top: 3px;

}

form div img{
    width: 100%;
    width:  110px;
    max-height: 110px;
    background-image: url("../image/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline;
}

form div img:hover{
    cursor: pointer;    
}

#divImage form img{
    width: 100%;
    width:  400px;
    max-height: 400px;
}

form table td{
    padding-right: 10px;
    padding-bottom: 5px;
}

form div:hover{
    background-color: #dbdce9;
}

#formularioAsignatura textArea{
    width: 335px;
}

#formularioAsignatura input,#formularioAsignatura select{
    width: 217px;
}

#formularioLectivo input,#formularioLectivo select{
    width: 190px;
}

#formularioLectivo label{
    min-width: 190px;
}

#formularioProfesor label,#formularioEstudiante label{
    min-width: 114px;
}

form.onlyselect select{
    min-width: 300px;
}

.formhorizontal label{
    min-width: 60px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.formhorizontal input{
    width: 100px;
    display: inline-block;
}

.formhorizontal button{
    margin-left: 10px;
}

.formhorizontal input.titu{
    width: 150px;
}

.divformhorizontal{
    padding-bottom: 10px;
    padding-top: 10px;
    float: none;
}

.divformhorizontal form div{
    display: inline;
}

.divformhorizontal:hover{
    background-color: #dbdce9;
}

label.error {
    font-family: cursive;
    font-size: small;
    display: inline-block;
    position: fixed;
    background-color: #e5e5e5;
    text-align: center;
    padding: 6px;
    margin-top: 3px;
    margin-left: 4px;
    border-radius: 4px;
    box-shadow: 0 0 12px #555;
    border: 0px;
    max-width: 200px;
}
