/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    background-image: url("../image/logo.png");

}


/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}
@media (min-width: 768px) {
    .sidebar {  /* barra lateral css*/
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}
.nav-sidebar > .active > a {
    color: #fff;
    background-color: #428bca;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}
@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}
.main .page-header {
    margin-top: 0;
}



.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}
.btn-group{
    padding-left: 50px;
    margin-top: 5px;
}
.btn-group select{
    width: 120px;
}

#tbodyNotas input{
    max-width: 40px;
}

a{
    cursor:pointer;
}
.completo{
    width: 100%;
    height:200px;
}

.color1{
    background-color:white;
} 
.colorindex{
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(left,  #eaeaea 0%, #eaeaea 11%, #eaeaea 19%, #f4f4f4 52%, #f7f7f7 71%, #f7f7f7 71%, #f9f9f9 84%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#eaeaea), color-stop(11%,#eaeaea), color-stop(19%,#eaeaea), color-stop(52%,#f4f4f4), color-stop(71%,#f7f7f7), color-stop(71%,#f7f7f7), color-stop(84%,#f9f9f9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #eaeaea 0%,#eaeaea 11%,#eaeaea 19%,#f4f4f4 52%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #eaeaea 0%,#eaeaea 11%,#eaeaea 19%,#f4f4f4 52%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #eaeaea 0%,#eaeaea 11%,#eaeaea 19%,#f4f4f4 52%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to right,  #eaeaea 0%,#eaeaea 11%,#eaeaea 19%,#f4f4f4 52%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */




}
.titulo{
    text-align: center;
    border-color: #357ebd;
    color: white;
    background-color: #3F85C1;
    padding-left: 10px;
    padding-right: 10px;
    border-top-width: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
}
.contactenos{
    text-align: center;
    border-color: #357ebd;
    color: white;
    background-color: #6caee8;
    padding-left: 10px;
    padding-right: 10px;
    border-top-width: 10px;
    padding-bottom: 10px;
    padding-top: 15px;

}
.color2{
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaea 28%, #eaeaea 37%, #eaeaea 47%, #f4f4f4 63%, #f7f7f7 71%, #f7f7f7 71%, #f9f9f9 84%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(28%,#eaeaea), color-stop(37%,#eaeaea), color-stop(47%,#eaeaea), color-stop(63%,#f4f4f4), color-stop(71%,#f7f7f7), color-stop(71%,#f7f7f7), color-stop(84%,#f9f9f9), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eaeaea 28%,#eaeaea 37%,#eaeaea 47%,#f4f4f4 63%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eaeaea 28%,#eaeaea 37%,#eaeaea 47%,#f4f4f4 63%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eaeaea 28%,#eaeaea 37%,#eaeaea 47%,#f4f4f4 63%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #eaeaea 28%,#eaeaea 37%,#eaeaea 47%,#f4f4f4 63%,#f7f7f7 71%,#f7f7f7 71%,#f9f9f9 84%,#ffffff 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}
.login1{
    padding-right: 10px;

} 
#formularioNotaPeriodo input[type=number]{
    width: 50px;
    text-align: center;
}
.perdida{
    background-color: #F8E0E0;
}

#BotonCurso{
    min-width: 130px;
}

#divBotonCurso{
    padding-bottom: 12px;
}

.daletebutton{
    background-image: url("../image/delete.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 34px;
    height: 34px;
}

td .daletebutton{
    width: 20px;
    height: 20px;
}

td img.loading{
    width: 23px;
    float: right;
}

.loadingbody{
    position: fixed;
    bottom:  50%;
    left: 45%;
}

h1.page-header .loading{
    width:32px;
}

.ui-dialog-title img.loading{
    height: 40px;
    float: right;
}

.estudiantesSeleccionados{
    max-height: 200px;
    overflow-y: auto;
}