/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2014, 11:52:47 AM
    Author     : leon9894@gmail.com
*/




.tr_impar{
    background-color: white;
}

.trActive{
    background-color:#abdbe6;
}

.parrafo{
    text-align: justify;
}

.table td{
    margin-left: 1px;
}
.table .n{
    text-align: left;
}

.tablenotageneral td,.tablenotageneral th{
    border: 1px solid #6e6464;
    text-align: center;
}

.table tbody tr.selected{
    background-color: #d1e1eb;
}

table tbody tr:hover{
    background-color: #f8d9f8;
}